<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">course Management System</a>
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/admin/courses}">course Management</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class= "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update course</h1>
				<div class = "card-body">
					<form id="createForm" th:action="@{/admin/courses/{id}(id=${course.id})}" 
					th:object="${course}" method="POST"
					enctype="multipart/form-data">
						<div class = "form-group">
							<label> Course title: </label>
							<input 
							type = "text"
							name = "title"
							th:field = "*{title}"
							class = "form-control"
							placeholder = "Enter course First Name"
							>
						</div>
						
						<div class = "form-group">
							<label> Course description: </label>
							<textarea id="w3review" th:field = "*{description}"
								name="w3review" rows="4" cols="50"
								class = "form-control"
								>
								Type course description...
							</textarea>
						</div>
						
						<div class = "form-group">
							<label> Duration: </label>
							<input 
							type = "number"
							name = "duration"
							th:field = "*{duration}"
							class = "form-control"
							placeholder = "Enter course duration: "
							>
						</div>
						
						<div class = "form-group">
							<label> Cost: </label>
							<input 
							type = "number"
							name = "cost"
							th:field = "*{cost}"
							class = "form-control"
							placeholder = "Enter price: "
							>
						</div>
						
						<div class = "form-group">
							<label> Avatar </label>
							<input 
							type ="file" 
							name = "avatar"
							accept="image/png, image/jpeg"> 
						</div>
						 
						<div class = "footer-body">
							<label id="errorMessages"> </label>
							<br>
							<button type="submit" class = "btn btn-primary"> Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
document.getElementById("createForm").onsubmit = function () {
	console.log("In check form submit button");
	var sErrorMsg = "";
	
    if (!document.getElementById("firstName").value) {
    	sErrorMsg = "Firt Name field is not be empty";
    	document.getElementById("errorMessages").innerHTML = sErrorMsg;
        return false;
    }
    return true;
}




</script>
</body>
</html>