<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Student Management System</a>
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/students}">Student Management</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<form th:action="@{/signin}" 
			th:object="${signupForm}"  method="post">
			<div class = "form-group">
				<label> User name:  </label>
				<input 
				type = "text"
				name = "email"
				th:field = "*{email}"
				class = "form-control"
				placeholder = "Enter Login Account"
				>
			</div>
			
			<div class = "form-group">
				<label> Input password: </label>
				<input 
				type = "password"
				name = "password"
				th:field = "*{password}"
				class = "form-control"
				>
			</div>
			
			<div class = "footer-body">
				<label id="errorMessages"> </label>
				<br>
				<button type="submit" class = "btn btn-primary"> Login </button>
			</div>
	    </form>
	</div>
</body>
</html>