<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Student Management System</a>
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/students}">Student Management</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<h1>List Student</h1>
		</div>
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/account/new}" class = "btn btn-primary btn-sm mb-3"> Add New Student </a>
			</div>
		</div>
		<!-- LOGIN FORM  -->
		<form th:action="@{/login}" method="post">
                <h3>Please Login</h3>
                <div th:if="${param.error}" class="alert alert-error">    
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
			<div class = "form-group">
				<label> User name:  </label>
				<input 
				type = "text"
				name = "username"
				class = "form-control"
				placeholder = "Enter Your Email"
				>
			</div>
			
			<div class = "form-group">
				<label> Input password: </label>
				<input 
				type = "password"
				name = "password"
				class = "form-control"
				>
			</div>
			
			<div class = "footer-body">
				<label id="errorMessages"> </label>
				<br>
				<button type="submit" class = "btn btn-primary"> Login </button>
			</div>
	    </form>
	    
		<!-- COURSE LIST  -->
		<div>
			<h3>Course List</h3>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Description</th>
						<th>Duration</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="course: ${courseList}">
						<td th:text="${course.id}"></td>
						<td th:text="${course.title}"></td>
						<td th:text="${course.description}"></td>
						<td th:text="${course.duration}"></td>
						<td th:text="${course.cost}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- NOTIFICATION LIST  -->
		<div>
			<h3>Notification List</h3>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Description</th>
						<th>Duration</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="notify: ${notifyList}">
						<td th:text="${notify.id}"></td>
						<td th:text="${notify.type}"></td>
						<td th:text="${notify.title}"></td>
						<td th:text="${notify.description}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>